# Each route describes how an incoming URL will be processed by Upsun.

routes:
  "https://{default}/":
    type: upstream
    upstream: "ll_project:http"

  "https://www.{default}/":
    type: redirect
    to: "https://{default}/"